# Ambiente virtual
venv/

# Cache Python
__pycache__/
*.pyc
*.pyo

# VS Code / IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Dados sensíveis / testes locais
data/private/
data/videos/
data/images/

# Logs
*.log
